h1{
    color: orange;
    background-color: black;
    width: 300px;
    height: 40px;
}
h2{
    color: red;
}

h3{
    color: blue;
}
.game{
    color: blueviolet;
}
.movie{
    color: brown;
}

#sss{
    color: chartreuse;
}